@model Carousel
@{
    ViewData["Title"] = "Detail";
}
<div>
    <div>
        <p>Image:</p>
        <img src="/assets/Image/Carousel/@Model.Image" style="width: 80%; height: 500px;" />
    </div>
</div>

