@model News
@{
    ViewData["Title"] = "Detail";
}

<div>
    <div>
        <p>News Title:</p>
        <h4>@Model.TitleNews</h4>
    </div>
    <div>
        <p>News Description:</p>
        <h4>@Model.DescriptionNews</h4>
    </div>
    <div>
        <p>News Date:</p>
        <h4>@Model.Date</h4>
    </div>
</div>

